.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin-top: 1rem;
  margin-left: 23rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-basis: calc(100% / 3 - 1rem - 1rem);
  flex-direction: row;
  flex-grow: 1;
  margin: 1rem auto;
}

.profile {
    border: .1rem solid #28496f;
    margin: .5rem;
    padding: 0;
    width: 18rem;

&-top {
  margin: 0;
  padding-left: 1rem;
  border-bottom: .1rem solid lightgrey;
}
}

.delete {
  width: 100%;
  padding: 10px 10px;
  border: none;
  outline: none;
  background: #28496f;
  color: white;

  &:hover {
    background: #7ec9b3;
    color: black;
  }
}
